<section class="display_books">
  <h3>Title: <%= indexObj.title %></h2>
  <h5>Authors: <%= indexObj.authors %></h4>
  <img src="<%= indexObj.img_url %>" alt="<%= indexObj.img_url %>" title="<%= indexObj.book_description %>">
  <p><%= indexObj.isbn %></p>
  <%- include('./edit', {indexObjE: indexObj, requestMethodE: requestMethod, targetUrlE: targetUrl, buttonValueE: buttonValue, formPartialIDE: formPartialID}) %>
</section>

