<section class="display_books">
  <h3>Title: <%= indexObj.title %></h2>
  <h5>Authors: <%= indexObj.authors %></h4>
  <img src="<%= indexObj.img_url %>" alt="<%= indexObj.img_url %>" title="<%= indexObj.book_description %>">
  <p><%= indexObj.isbn %></p>
  <form id = "saveBookForm" action ="<%= targetUrl %>" method = "POST">
    <input class = "hidden_form" type="hidden" name = "title" value="<%= indexObj.title %>">
    <input class = "hidden_form" type="hidden" name = "authors" value="<%= indexObj.authors %>">
    <input class = "hidden_form" type="hidden" name = "img_url" value="<%= indexObj.img_url %>">
    <input class = "hidden_form" type="hidden" name = "book_description" value="<%= indexObj.book_description %>">
    <input class = "hidden_form" type="hidden" name = "isbn" value="<%= indexObj.isbn %>">
    <input type="submit" value="<%= buttonValue %>">
  </form>
</section>

<!-- Why does some value strings work without quotes -->
